{{outlet}}

{{#each model as |item|}}

  {{name}}
{{/each}}


  <!-- <img src="">

<div class="panel panel-default">
  <div class="panel-heading">Panel Heading</div>
  <div class="panel-body">Panel Content</div>
</div>
<div class="panel-group">
  <div class="panel panel-primary">
    <div class="panel-body">Panel Content</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">Panel Content</div>
  </div>
</div> -->
